* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

.card {
  width: 560px;
  margin: 20px auto;
  font-family: "Inter", sans-serif;
}

header,
section {
  padding: 50px;
}

header {
  background-color: #ffe600;
  color: #000;
}

.section-one {
  background-color: #000;
  color: #fff;
}

.section-two {
  background-color: white;
  color: black;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 18px;
  margin-block: 15px;
}

a {
  color: #ffe600;
}

.section-two a {
  color: #ffe600;
}

.section-two .button {
  background-color: black;
}

.button {
  text-decoration: none;
  background-color: #ffe600;
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
  display: inline-block;
}

.button:hover, :focus {
  background-color: #fff;
}
