* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 980px;
  width: 90%;
  margin: auto;
  color: #707070;
}

.color-purpose {
  color: #b7832f;
}

.page-title {
  font-size: 3rem;
  color: #312614;
  text-align: center;
  padding: 10px;
}

.page-subtitle {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.elephants {
  width: 100%;
}

.columns {
  display: flex;
  justify-content: space-between;
  margin-block: 10px;
  /* gap: 20px; */
}

.col-1 {
  width: 20%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 70%;
}

.right-column {
  background-color: #312614;
  color: #fff;
  padding: 20px;
}
