* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 980px;
  margin: auto;
  color: #707070;
}

.color-purpose {
  color: #b7832f;
}

.page-title {
    font-size: 3rem;
    color: #312614;
}

.page-subtitle {
    font-size: 1.5rem;
}

.elephants {
  width: 100%;
}

.columns {
  display: flex;
}

.right-column {
  background-color: #312614;
  color: #fff;
}
